/* Inter Variable Font */
@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/inter/Inter-VariableFont_opsz,wght.woff2') format('woff2-variations'),
    url('../fonts/inter/Inter-VariableFont_opsz,wght.woff') format('woff-variations');
  font-style: normal;
  font-display: swap;
}

/* Inter Variable Font (Italic) */
@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/inter/Inter-Italic-VariableFont_opsz,wght.woff2') format('woff2-variations'),
    url('../fonts/inter/Inter-Italic-VariableFont_opsz,wght.woff') format('woff-variations');
  font-style: italic;
  font-display: swap;
}

/* Manrope Variable Font */
@font-face {
  font-family: 'Manrope';
  src:
    url('../fonts/manrope/Manrope-VariableFont_wght.woff2') format('woff2-variations'),
    url('../fonts/manrope/Manrope-VariableFont_wght.woff') format('woff-variations');
  // font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}
