// Цвета
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$text-color: #c4c4c4;
$secondary-text-color: #a9a9a9;
$light-gray: #f5f5f5;
$dark-gray: #444444;
$bg-color: #1b1b1f; // Добавляем основной фоновый цвет
$bg-darker: #0f0f10; // Более тёмный фоновый цвет для панелей и разделителей
$title-gradient: linear-gradient(180deg, rgb(229, 221, 221) 0%, rgb(234, 135, 50) 100%);
$gradient-button-start: linear-gradient(
  45deg,
  rgb(201, 125, 55) 27%,
  rgb(221, 79, 31) 69%,
  rgb(49, 48, 47) 100%
);
$gradient-button-youtube: linear-gradient(
  -45deg,
  rgb(204, 62, 58) 27%,
  rgb(221, 31, 31) 69%,
  rgb(49, 48, 47) 100%
);
$highlight: #9499ff;

// Шрифты
$font-main: 'Inter', sans-serif;
$font-heading: 'Manrope', sans-serif;

// Размеры
$content-width: 1200px;
$gutter: 20px;

// Точки перелома для адаптива
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
